@model Dictionary<string, EditField>

<h2>Proste bindowanie</h2>

@using (@Html.BeginForm("SecondAction", "First", FormMethod.Post))
{

    foreach (var i in Model.Keys.Select((key, index) => new { Index = index, Key = key }))
    {
        <input type="hidden" name="lista[@i.Index].Key" value="@i.Key" />
        <input type="text" name="lista[@i.Index].Value.Value" value="" />
        <br />
    }
    <input type="submit" />
}


<h2>Bindowanie z typowaniem</h2>


@using (@Html.BeginForm("SecondAction", "First", FormMethod.Post))
{

    foreach (var i in Model.Keys.Select((key, index) => new { Index = index, Key = key, Value = Model[key] }))
    {
        @i.Key
        
        <input type="hidden" name="lista[@i.Index].Key" value="@i.Key" />
        <input type="hidden" name="lista[@i.Index].Value.Symbol" value="@i.Value.Symbol" />
        <input type="hidden" name="lista[@i.Index].Value.Type" value="@i.Value.Type" />
        <input type="@i.Value.Type" name="lista[@i.Index].Value.Value" value="" />
        <br />
    }
    <input type="submit" />
}


